/* CSS declarations go here */
body {
  background-color: #DEDEDE;
  font-family: 'Open Sans', sans-serif;
}
.navbar-brand {
  color: whitesmoke!important;
}

.form-qr {
  float: none;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 7px;
  padding: 15px;
  color: #444;
}