/* CSS declarations go here */
body {
  background-color: #E9E5DC;
  font-family: 'Arimo', sans-serif;
  letter-spacing:0.05em;
  margin-top: 60px;
}
.navbar-brand {
  color: whitesmoke!important;
  /*line-height: 1.5em;*/
}
.navbar-nav {
  /*margin: 7.5px 0px;*/
}
.nav-pills li a{
  padding-left: 14px;
  padding-right: 14px;
}
#iron-router-progress {
  background-color : #5cb85c;
  box-shadow       : 0 0 0 #5cb85c;
}
.docs-flip-horizontal {
  -ms-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.well {
  padding-left: 7px;
  padding-right: 7px;
}
.map-canvas {
  height: 300px;
}
.label {
  font-weight: normal;
  font-size: 90%;
}
.input-lc {
  width: 50px;
}

.productbox {
    background-color:#ffffff;
    padding:10px;
    margin:5px 0;
    border: 1px solid #cfcfcf;
    -moz-box-shadow: 2px 2px 4px 0px #cfcfcf;
    -webkit-box-shadow: 2px 2px 4px 0px #cfcfcf;
    -o-box-shadow: 2px 2px 4px 0px #cfcfcf;
    box-shadow: 2px 2px 4px 0px #cfcfcf;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=4);
}

.producttitle {
    font-weight:bold;
    font-size:1.4em;
  padding:2px 0 2px 0;
}

.producttext {

}

.productprice {
  border-top:1px solid #dadada;
  padding-top:5px;
}

.pricetext {
  /*font-weight:bold;*/
  /*font-size:1.2em;*/
  line-height:1.5em;
}

.pricetext a {
  font-size:1.2em;
  margin-top:7px;
}

.img-jecmd {
  max-width: 100%;
  height: auto;
  text-align: center;
}

.shape{
    border-style: solid; border-width: 0 40px 40px 0; float:right; height: 0px; width: 0px;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.shape-text{
    color:#fff; font-size:12px; font-weight:bold; position:relative; right:-22px; top:-3px; white-space: nowrap;
  -ms-transform:rotate(30deg); /* IE 9 */
  -o-transform: rotate(360deg);  /* Opera 10.5 */
  -webkit-transform:rotate(46deg); /* Safari and Chrome */
  transform:rotate(46deg);
}
.offer{
  background:#fff; border:1px solid #ddd; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); margin: 15px 0; overflow:hidden;
}
.shape {
  border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-radius{
  border-radius:7px;
}
.offer-danger { border-color: #d9534f; }
.offer-danger .shape{
  border-color: transparent #d9534f transparent transparent;
}
.offer-success {  border-color: #5cb85c; }
.offer-success .shape{
  border-color: transparent #5cb85c transparent transparent;
}
.offer-default {  border-color: #999999; }
.offer-default .shape{
  border-color: transparent #999999 transparent transparent;
}
.offer-primary {  border-color: #428bca; }
.offer-primary .shape{
  border-color: transparent #428bca transparent transparent;
}
.offer-info { border-color: #5bc0de; }
.offer-info .shape{
  border-color: transparent #5bc0de transparent transparent;
}
.offer-warning {  border-color: #f0ad4e; }
.offer-warning .shape{
  border-color: transparent #f0ad4e transparent transparent;
}

.offer-content{
  padding:0 20px 10px;
}
@media (max-width: 500px) {
  .col-md-6 {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 487px) {
  .container {
    max-width: 750px;
  }
  .col-sm-6 {
    width: 50%;
  }
}
@media (min-width: 900px) {
  .container {
    max-width: 970px;
  }
  .col-md-4 {
    width: 33.33333333333333%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .col-lg-3 {
    width: 25%;
  }
  }
}
