<template name="searchInput">
  <form class="form-horizontal" role="form">
    <div class="input-group btn-block">
      <span class="input-group-btn">
        <button class="btn btn-primary locate" type="button"><span class=" glyphicon glyphicon-flag"></span></button>
      </span>
      <input type="text" class="search-query form-control" placeholder="Rechercher une ville, un restaurant, un commerce, un code postal..." value="{{searched}}" />
      <span class="input-group-btn">
        <button class="btn btn-success search" type="submit">
          <span class=" glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
  </form>
</template>
