<template name="searchInput">
  <form class="form-horizontal search" role="form" action="/search">
    <div class="input-group btn-block">
      <span class="input-group-btn">
        <button class="btn btn-primary locate" type="button"><img id="geoloc" src="/geolocation.png" alt="Geolocation" height="20px" /></button>
      </span>
      <input type="search" class="search-query form-control" placeholder="Rechercher une ville, un restaurant, un commerce, un code postal..." value="{{searched}}" name="searched" />
      <span class="input-group-btn">
        <button class="btn btn-success" type="submit">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
  </form>
</template>
