<template name="search">
  <div class="container-fluid">
    <div class="row">
      <div id="custom-search-input">
        <div class="input-group col-xs-12">
          <input type="text" class="  search-query form-control" placeholder="Search" />
          <span class="input-group-btn">
            <button class="btn btn-success" type="button">
              <span class=" glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>