<template name="chatOrder">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading openChat" id="accordion" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <span class="fa fa-comments"></span> Chat
            <div class="btn-group pull-right">
              <a type="button" class="btn btn-default btn-xs openChat" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <span class="fa fa-chevron-down"></span>
              </a>
            </div>
          </div>
          <div class="panel-collapse collapse{{#if notify}} in{{/if}}" id="collapseOne">
            <div class="panel-body">
              <ul class="chat">
                {{#each chats}}
                <li class="{{side}} clearfix">
                  <span class="chat-img pull-{{side}}">
                    <img src="http://placehold.it/50/{{getColor side}}/fff&text={{firstLetter username}}" alt="User Avatar" class="img-circle" />
                  </span>
                  <div class="chat-body clearfix">
                    <div class="header">
                      <small class="{{isLeft side}} text-muted"><span class="fa fa-clock-o"></span> {{fromNow created}}</small>
                      <strong class="{{isRight side}} primary-font">{{username}}</strong>
                    </div>
                    <p class="clearfix {{isRight side}}">
                      {{message}}
                    </p>
                  </div>
                </li>
                {{/each}}
              </ul>
            </div>
            <div class="panel-footer">
              <form>
                <div class="input-group">
                  <input id="btn-input" type="text" class="form-control input-sm" placeholder="Tapez votre message ici..." />
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-success btn-sm" id="btn-chat">Envoyer</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
