<template name="formOption">

  <div class="form-group" id="title">
    <label class="col-xs-3 control-label" for="inputTitle">Nom</label>
    <div class="col-xs-9">
      <input type="text" class="form-control" id="inputTitle" placeholder="Nom du l'option" value="{{title}}">
    </div>
  </div>

  <div class="form-group" id="choices">
    <label class="col-xs-3 control-label" for="inputChoices">Choix de l'option</label>
    <div class="col-xs-9">
      <input type="text"  id="inputChoices" placeholder="Les choix disponibles pour cette option" value="{{OptionsTags}}">
      <p class="help">Tapez en plusieurs, séparés par des virgules</p>
    </div>
  </div>

  <div class="form-group" id="type">
    <label class="col-xs-3 control-label" for="radioType">Type de choix</label>
    <div class="col-xs-9">
      <div class="radio">
        <label for="type-0">
          <input type="radio" name="radioType" id="type-0" value="radio" checked="{{isTypeRadio type}}">
          Unique
        </label>
      </div>
      <div class="radio">
        <label for="type-1">
          <input type="radio" name="radioType" id="type-1" value="checkbox"  checked="{{isTypeCheckbox type}}">
          Multiple
        </label>
      </div>
      <p class="help">ex: Cuisson -> Unique, Sauces -> Multiple</p>
    </div>
  </div>

</template>