<template name="orderModal">
  <div class="modal" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title text-center" id="orderModalLabel">#{{order.number}}{{#if order.togo}} A emporter{{/if}}{{#if order.name}} par {{order.name}}{{/if}}{{#if order.wanted}} pour {{order.wanted}}{{/if}} {{{textStatus order.status}}}{{#if order.paid}} Payée{{/if}}</h3>
        </div>
        <div class="modal-body">
          {{#unless order.paid}}
          {{#if isWaiter order.place}}
          <a href="{{pathFor 'payOrder' place_id=order.place order_id=order._id}}" class="btn btn-info btn-block">Encaisser la commande <span class="fa fa-euro"></span></a>
          {{/if}}
          {{/unless}}
          <table class="table table-condensed">
            <thead>
              <tr>
                <th class="text-center">Qtt</th>
                <th>Produit</th>
                <th>Options</th>
                <th class="text-right">Prix</th>
              </tr>
            </thead>
            <tbody>
              {{#each lines}}
              <tr>
                <td class="text-center">{{quantity}}</td>
                <td>{{productName}}{{setName}}</td>
                <td>{{options}}</td>
                <td class="text-right">{{formatPrice price}}</td>
              </tr>
              {{else}}
              <tr>
                <td colspan="5">
                  <p class="lead text-center">Commande vide</p>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>

          <h4><strong class="pull-right">{{formatPrice order.total}}</strong></h4>
          <div class="clearfix"></div>
          <div class="text-center">
            <div class="btn-group " data-toggle="buttons">
              <label class="btn btn-danger {{isStatusActive 0 order.status}} changeStatus" for="status-0" value="0" id="{{order._id}}">
                <input type="radio" name="radiosStatus" id="status-0" value="0" {{isStatusChecked 0 order.status}}>
                <span class="fa fa-remove fa-2x"></span>
              </label>
              <label class="btn btn-warning {{isStatusActive 1 order.status}} changeStatus" for="status-1" value="1" id="{{order._id}}">
                <input type="radio" name="radiosStatus" id="status-1" value="1" {{isStatusChecked 1 order.status}}>
                <span class="fa fa-plus fa-2x"></span>
              </label>
              <label class="btn btn-primary {{isStatusActive 2 order.status}} changeStatus" for="status-2" value="2" id="{{order._id}}">
                <input type="radio" name="radiosStatus" id="status-2" value="2" {{isStatusChecked 2 order.status}}>
                <span class="fa fa-check fa-2x"></span>
              </label>
              <label class="btn btn-info {{isStatusActive 3 order.status}} changeStatus" for="status-3" value="3" id="{{order._id}}">
                <input type="radio" name="radiosStatus" id="status-3" value="3" {{isStatusChecked 3 order.status}}>
                <span class="fa fa-refresh fa-2x"></span>
              </label>
              <label class="btn btn-success {{isStatusActive 4 order.status}} changeStatus" for="status-4" value="4" id="{{order._id}}">
                <input type="radio" name="radiosStatus" id="status-4" value="4" {{isStatusChecked 4 order.status}}>
                <span class="fa fa-cutlery fa-2x"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>
