<template name="footer">
  <div class="footer">
    <div class="container">
      <hr>
      <p class="text-muted text-center">&copy;{{year}} <strong>JeCMD</strong> par <a href="https://twitter.com/qoderesto" target="_blanck">@QodeResto</a>{{#unless isMobile}} - Disponible sur <a href="https://play.google.com/store/apps/details?id=com.idh4o6io1erj8hk1xkjg5o">Google Play</a> et sur l'<a href="https://itunes.apple.com/fr/app/jecmd-ici-cest-moi-qui-commande./id955622395?l=fr&mt=8">App Store Apple</a>{{/unless}}</p>
    </div>
  </div>
</template>
