<template name="footer">
  <div class="footer">
    <div class="container">
      <p class="text-center">&copy;{{year}} <strong>JeCMD</strong> par <a href="https://twitter.com/qoderesto" target="_blanck"><span class="fa fa-cutlery"></span> QodeResto</a>{{#unless isMobile}} - Disponible sur <a href="https://itunes.apple.com/fr/app/jecmd-ici-cest-moi-qui-commande./id955622395?l=fr&mt=8" target="_blanck" title="Apple App Store"><span class="fa fa-apple"></span> App Store </a> et <a href="https://play.google.com/store/apps/details?id=com.idh4o6io1erj8hk1xkjg5o" target="_blanck" title="Google Play"><span class="fa fa-play"></span> Google Play</a>{{/unless}}</p>
    </div>
  </div>
</template>
