<template name="navbar">
  <nav role="navigation" class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          <ul class="nav navbar-nav nav-pills">
            {{#if isLoggedIn}}
            {{#unless isMobile}}
            <li><a href="" onclick="window.history.back()" title="Retour" class="withoutripple"><i class="fa fa-arrow-left"></i></a></li>
            {{/unless}}
            {{/if}}
            <li class="{{ activeIfTemplateIs 'Home' }}"><a href="{{pathFor 'home'}}" title="QodeResto" class="withoutripple"><i class="fa fa-home"></i><span class="hidden-xs"> Accueil</span></a></li>
            <!-- <li class="{{ activeIfTemplateIs 'search' }}"><a href="{{pathFor 'search'}}" title="search"><span class="fa fa-search"></span></a></li> -->
            {{#if isNotLoggedIn}}
            <li class="{{ activeIfTemplateIs 'entrySignIn' }}"><a href="{{pathFor 'entrySignIn'}}" title="connexion" class="withoutripple"><i class="fa fa-user"></i><span class="hidden-xs"> Connexion</span></a></li>
            {{else}}
            <li class="{{ activeIfTemplateIs 'Profile' }}"><a href="{{pathFor 'profile'}}" title="profile" class="withoutripple"><i class="fa fa-user"></i><span class="hidden-xs"> Profil</span></a></li>
            {{/if}}
            {{#if isWaiterUser}}
            <li class="{{ activeIfTemplateIs 'Waiter' }}"><a href="{{pathFor 'waiter' _id=currentUser.profile.place}}" title="waiter" class="withoutripple"><i class="fa fa-mobile-phone"></i>{{#if NotifyCount}}<span class="badge">{{NotifyCount}}</span>{{/if}}<span class="hidden-xs"> CMDs</span></a></li>
            {{/if}}
            {{#if isOwnerUser}}
            <li class="{{ activeIfTemplateIs 'Owner' }}"><a href="{{pathFor 'owner'}}" title="owner" class="withoutripple"><i class="fa fa-cogs"></i><span class="hidden-xs"> Admin</span></a></li>
            {{else}}
            <li class="{{ activeIfTemplateIs 'Resto' }}"><a href="{{pathFor 'resto'}}" title="resto" class="withoutripple"><i class="fa fa-cogs"></i><span class="hidden-xs"> Admin</span></a></li>
            {{/if}}
            {{#if isLoggedIn}}
            <li class="{{ activeIfTemplateIs 'Cart' }}"><a href="{{pathFor 'cart'}}" title="cart" class="withoutripple"><i class="fa fa-shopping-cart"></i>{{#if MyNotifyCount}}<span class="badge">{{MyNotifyCount}}</span>{{/if}}<span class="hidden-xs"> Panier</span></a></li>
            {{/if}}
            <!-- <li class="{{ activeIfTemplateIs 'scanQrCode' }}"><a href="{{pathFor 'scanQrCode'}}" title="Scan QR Code"><span class="fa fa-qrcode"></span></a></li> -->
          </ul>
        </div>
    </div>
  </nav>
</template>
