<template name="home">
  <div class="container">
    <div class="row">
      <div class="well well-sm">
        {{#if isNotLoggedIn}}
        <h2 class="text-center"><strong>JeCMD</strong> : ici c'est moi qui commande.</h2>
        <h3 class="text-center">Le système de prise de commandes en temps réel<br><small>ou comment attendre le moins possible.</small></h3>
        {{/if}}
        <img src="/qoderesto-123steps.jpg" alt="un deux troix" class="img-responsive text-center"/>
        {{> searchInput}}
      </div>
    </div>

    <div class="row">
      {{#each places}}
        {{> onePlace}}
      {{/each}}
      {{> placeModal}}
    </div>
    <div class="row">
      <p class="text-center"><a href="{{pathFor 'resto'}}" class="btn btn-primary btn-lg btn-block">Gérant d'un établissement ?</a></p>
    </div>
  </div>
</template>
