<template name="orders">

  <form class="form-horizontal form-qr" id="{{order._id}}">
    <legend><strong>{{name}}</strong> Commandes en cours</legend>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Nom</th>
          <th>Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each orders}}
        <tr>
          <td>{{number}}</td>
          <td>{{formatDate created}}</td>
          <td>{{name}}</td>
          <td>{{#if total}}{{formatPrice total}}{{else}}{{/if}}</td>
          <td class="text-right"><button class="btn btn-danger deletOrder" data-id="{{_id}}"><span class="glyphicon glyphicon-trash"></span></button></td>
          <td class="text-right"><button class="btn btn-primary editOrder" data-id="{{_id}}"><span class="glyphicon glyphicon-edit"></span></button></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </form>

</template>