<template name="editProduct">
  <div class="container">
    <div class="row">
      <form class="form-horizontal well">
        <legend>Éditer {{name}}</legend>

        {{> formProduct}}
        <div class="form-group">
          <label class="col-xs-3 control-label" for="inputImage">Photo</label>
          <div class="col-xs-9">
            <input type="file" id="inputImage">
            <p class="help-block">De preference en vue paysage.</p>
            {{#if image}}
              <img src="{{getImage image}}" alt="{{name}}" class="img-responsive" width="460"/>
            {{/if}}
          </div>
        </div>
        {{> imageModal}}
        <button type="submit" class="btn btn-success save">Enregister</button>
        <a href="{{pathFor 'productsPlace' _id=place_id}}" class="btn">Annuler</a>
        <a href="" class="btn btn-danger pull-right delete">Supprimer</a>
      </form>
    </div>
  </div>
</template>
