<template name="hoursPlace">
  <div class="container">
    <div class="row">
      <div class="well">
        <legend>1 Créer des crénaux horaires</legend>
        <div class="form-group">
          <label class="col-xs-2 control-label" for="timeOpen">Créer</label>
          <div class="col-xs-4">
            <div class="input-group clockpicker">
              <span class="input-group-addon">
                De
              </span>
              <input type="text" class="form-control" value="" id="timeOpen" name="timeOpen">
              <span class="input-group-addon">
                <span class="fa fa-clock-o"></span>
              </span>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="input-group clockpicker">
              <span class="input-group-addon">
                A
              </span>
              <input type="text" class="form-control" value="" id="timeClose" name="timeClose">
              <span class="input-group-addon">
                <span class="fa fa-clock-o"></span>
              </span>
            </div>
          </div>
          <div class="col-xs-2">
            <button name="button" class="btn btn-primary addHours">Ajouter</button>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-2 control-label">Disponibles</div>
          <div class="col-xs-10">
            {{#each hours}}
              | de {{open}} à {{close}} <a href="#" class="btn btn-danger btn-sm remove" id="{{_id}}"><span class="fa fa-trash"></span></a>
            {{/each}} |
            </div>
        </div>

        <legend>2 Assigner les crénaux horaires aux jours</legend>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th class="col-xs-2">
                Jours
              </th>
              <th class="col-xs-10">
                Crénaux
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each days}}
            <tr>
              <td>
                {{day}}
              </td>
              <td>
                {{#each hours}}
                <label for="{{../day_number}}_{{_id}}">
                  <input type="checkbox" name="{{../day_number}}" id="{{../day_number}}_{{_id}}" value="{{open}}|{{close}}" class="hour open" checked="{{isChecked ../day_number _id}}"> De {{open}} à {{close}}
                </label>
                {{/each}}
                <label for="{{day_number}}_closed">
                  <input type="checkbox" name="{{day_number}}" id="{{day_number}}_closed" value="{{day_number}}_closed" class="hour closed" checked="{{isChecked day_number 'closed'}}" > Fermé
                </label>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        <!-- <legend>3 Gérer les vacances</legend> -->
        <button type="submit" class="btn btn-success save">Enregistrer</button>
        <a href="{{pathFor 'editPlace'}}" class="btn btn-default">Annuler</a>
      </div>
    </div>
  </div>
</template>
