<template name="openHours">
  <small>
    <table class="table table-condensed text-center">
      <thead id="time-accordion" data-toggle="collapse" data-parent="#time-accordion" href="#collapseTime">
        <tr>
          <th class="text-center" colspan=2><button class="btn btn-default btn-sm" name="Horaires">Horaires</button></th>
        </tr>
        {{{showHours today daystr}}}
      </thead>
      <tbody class="collapse" id="collapseTime">
        {{#each days}}
        {{{showHours day_number day}}}
        {{/each}}
      </tbody>
    </table>
  </small>
</template>
