<template name="onePlace">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="productbox text-center">
      {{#if image}}
      <a href="{{pathFor 'createOrder' place_id=_id}}"><img src="{{getImage image}}" alt="{{placename}}" class="img-jecmd"></a>
      {{/if}}
      <div class="producttitle text-center">{{placename}}</div>
      <p class="text-center">{{placedesc}}</p>
      <a href="{{pathFor 'createOrder' place_id=_id}}" class="btn btn-success btn-block" title="Je Commande">Je Commande <span class="glyphicon glyphicon-shopping-cart"></span></a>
      <address>
        {{#if street}}{{street}}<br>{{/if}}
        {{#if town}}{{zip}} {{town}}<br>{{/if}}
        <a href="tel:{{phone}}">{{phone}}</a>
      </address>
      <div class="productprice">
        <div class="pricetext">
          {{{showTags PlacesTags}}}&nbsp;
        </div>
        {{#if isOwner}}
        <br>
        <div class="pricetext">
          <a href="/products/{{_id}}" class="btn btn-success" title="Produits">Prods <span class="glyphicon glyphicon-shopping-cart"></span></a>&nbsp;
          <a href="/edit/{{_id}}" class="btn btn-warning" title="Éditer">Edit <span class="glyphicon glyphicon-cog"></span></a>&nbsp;
          <a href="/editqrcode/{{_id}}" class="btn btn-danger" title="QR Code">QR <span class="glyphicon glyphicon-qrcode"></span></a>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
