<template name="onePlace">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="productbox text-center">
      {{#if image}}
      <a href="#" class="placeModal" id="{{_id}}"><img src="{{getImage image}}" alt="{{placename}}" class="img-jecmd"></a>
      {{/if}}
      <div class="producttitle text-center"><a href="#" class="placeModal lead" id="{{_id}}">{{placename}}</a></div>
      <p class="text-center">{{truncate placedesc 80}}</p>
      <a href="{{pathFor 'createOrder' place_id=_id}}" class="btn btn-success btn-block createOrder" title="Je Commande">Je Commande <span class="fa fa-shopping-cart fa-2x"></span></a>
      <address>
        {{#if street}}{{street}}<br>{{/if}}
        {{#if town}}{{zip}} {{town}}<br>{{/if}}
        <a href="tel:{{phone}}">{{phone}}</a>
      </address>
      <div class="productprice">
        <div class="pricetext">
          {{{showTags PlacesTags}}}&nbsp;
        </div>
        {{#if isOwner}}
        <div class="pricetext">
          <a href="/products/{{_id}}" class="btn btn-primary" title="Produits">Produits <span class="fa fa-list"></span></a>&nbsp;
          <a href="/edit/{{_id}}" class="btn btn-warning" title="Éditer">Editer <span class="fa fa-cog"></span></a>&nbsp;
          <a href="/payements/{{_id}}" class="btn btn-info" title="Payements">Payements <span class="fa fa-euro"></span></a>&nbsp;
          <a href="/editqrcode/{{_id}}" class="btn btn-default" title="QR Code">QR <span class="fa fa-qrcode"></span></a>

        </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
