<template name="owner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a href="{{pathFor 'createPlace'}}" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-plus"></span> Établissement</a>
      </div>
    </div>
    <div class="row">
      {{#each myPlaces}}
        {{> onePlace}}
      {{else}}
        <p class="lead text-center">Aucun établissement, il est temps d'en ajouter :)</p>
      {{/each}}
    </div>
  </div>
  {{> placeModal}}
</template>
