<template name="productModal">
  <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="productModalLabel">{{product.name}}</h4>
      </div>
      <div class="modal-body text-center">
        {{#if product.image}}
        <img src="{{getImage product.image}}" alt="{{product.name}}" class="img-jecmd">
        {{/if}}
        <h4>{{product.desc}}</h4>
        <h3>{{formatPrice product.price}}</h3>
        <p>{{{showTags product.ProductsTags}}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-success {{addClass}}" id="{{product._id}}" name="{{product.name}}">Commander</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</template>
