<template name="placeModal">
  <div class="modal" id="placeModal" tabindex="-1" role="dialog" aria-labelledby="placeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title text-center" id="placeModalLabel">{{place.placename}}</h4>
        </div>
        <div class="modal-body text-center">
          {{#if place.image}}
          <img src="{{getImage place.image}}" alt="{{place.placename}}" class="img-jecmd">
          {{/if}}
          <h4>{{place.placedesc}}</h4>
          {{#unless isCreateOrder}}
          <button type="button" class="btn btn-success btn-block createOrder" title="Je Commande" id="{{place._id}}">Je Commande <span class="fa fa-shopping-cart"></span></button>
          {{/unless}}
          <address>
            {{#if place.street}}{{place.street}}<br>{{/if}}
            {{#if place.town}}{{place.zip}} {{place.town}}<br>{{/if}}
            <a href="tel:{{place.phone}}">{{place.phone}}</a>
          </address>
          <p>{{{showTags place.PlacesTags}}}</p>
          {{#if place.days}}
            {{> openHours}}
          {{/if}}
          {{#if place.loyaltyCard}}
            <p>Tout les {{formatPrice place.lcPrice}} dépensés,<br>1 point est ajouté à votre carte fidélité.<br>
            Tout les {{place.lcSize}} points un avoir de {{formatPrice place.lcReward}} vous est offert. <span class="fa fa-gift"></span></p>
          {{/if}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>
