<template name="payOrder">
  <div class="container">
    <div class='row'>
      <div class="well">
        <h1>{{placename}} - #{{order.number}} <small>{{order.name}} {{formatDate order.created}}</small><span class='pull-right'>{{#if order.rebate}}<small>{{formatPrice order.total}} - {{formatPrice order.rebate}} = </small>{{/if}}{{formatPrice total}}</span></h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Quantité</th>
              <th>Produit</th>
              <th>Options</th>
              <th>Prix</th>
            </tr>
          </thead>
          <tbody>
            {{#each lines}}
            <tr>
              <td>{{quantity}}</td>
              <td>{{productName}}{{setName}}</td>
              <td>{{options}}</td>
              <td class="text-right">{{formatPrice price}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div class='row'>
      {{#if note.amount}}
      <div class='col-md-12'>
        <button class='btn btn-info btn-block btn-lg useNote'>Utiliser avoir {{formatPrice note.amount}} <span class='glyphicon glyphicon-send'></span></button>
      <br>
      </div>
      {{/if}}
      <div class='col-md-6'>
        <button class='btn btn-primary btn-block btn-lg cardPay'>Carte <span class='glyphicon glyphicon-credit-card'></span></button>
      </div>
      <div class='col-md-6'>
        <button class='btn btn-primary btn-block btn-lg cashPay'>Espèces ou tickets <span class='glyphicon glyphicon-euro'></span></button>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-12'>
        <form class="form-horizontal well cashForm hidden">
          <legend>Encaissement</legend>
          <div class="form-group" id="cash">
            <label class="col-xs-3 control-label" for="inputCash">Espèces</label>
            <div class="col-xs-9">
              <input type="number" step="any" class="form-control inputPay" id="inputCash" placeholder="Somme en espèces" value="">
            </div>
          </div>
          <div class="form-group" id="ticket">
            <label class="col-xs-3 control-label" for="inputTicket">Ticket</label>
            <div class="col-xs-9">
              <input type="number" step="any" class="form-control inputPay" id="inputTicket" placeholder="Valeur du ticket" value="">
            </div>
          </div>
          <p class="lead">Rendu :<span class="pull-right cashBack">0.00€</span></p>
          <input type="hidden" id="cashBack" value="0">
          <p class="lead">Avoir :<span class="pull-right creditNote">0.00€</span></p>
          <input type="hidden" id="creditNote" value="0">
          <button class='btn btn-success btn-block btn-lg validCashPay'>Valider le paiement <span class='glyphicon glyphicon-euro'></span></button>
        </form>
      </div>
    </div>
  </div>
</template>
