  <template name="editPlace">
  <div class="container">
    <div class="row">
      <form class="form-horizontal well">
        <legend>Éditer {{placename}} <a href="{{pathFor 'hoursPlace'}}" class="btn btn-info btn-sm pull-right"><span class="glyphicon glyphicon-time"></span> Horaires</a></legend>
        <div class="form-group" id="name">
          <label class="col-xs-3 control-label" for="inputName">Nom</label>
          <div class="col-xs-9">
            <input type="text" class="form-control" id="inputName" placeholder="Nom de votre restaurant" value="{{placename}}">
          </div>
        </div>
        <div class="form-group" id="phone">
          <label class="col-xs-3 control-label" for="inputPhone">Téléphone</label>
          <div class="col-xs-9">
            <input type="text" class="form-control" id="inputPhone" placeholder="Numéro de téléphone de votre restaurant" value="{{phone}}">
          </div>
        </div>
        <div class="form-group" id="street">
          <label class="col-xs-3 control-label" for="inputStreet">Rue</label>
          <div class="col-xs-9">
            <input type="text" class="form-control" id="inputStreet" placeholder="Numéro et nom de rue" value="{{street}}">
          </div>
        </div>

        <div class="form-group" id="town">
          <label class="col-xs-3 control-label" for="inputTown">Ville</label>
          <div class="col-xs-9">
            <input type="text" class="form-control" id="inputTown" placeholder="Ville" value="{{town}}">
          </div>
        </div>

        <div class="form-group" id="zip">
          <label class="col-xs-3 control-label" for="inputZip">Code Postal</label>
          <div class="col-xs-9">
            <input type="text" class="form-control" id="inputZip" placeholder="Code Postal" value="{{zip}}">
          </div>
        </div>

        <div class="form-group" id="desc">
          <label class="col-xs-3 control-label" for="inputDesc">Description</label>
          <div class="col-xs-9">
            <textarea class="form-control" rows="3" name="inputDesc" id="inputDesc">{{placedesc}}</textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-3 control-label" for="inputImage">Photo</label>
          <div class="col-xs-9">
            <input type="file" id="inputImage">
            <p class="help-block">De preference en vue paysage.</p>
            {{#if image}}
              <img src="{{getImage image}}" alt="{{placename}}" class="img-jecmd"/>
            {{/if}}
          </div>
        </div>
        <div class="form-group" id="tags">
          <label class="col-xs-3 control-label" for="inputTags">Types</label>
          <div class="col-xs-9">
            <input type="text"  id="inputTags" name="tags[]" placeholder="Types de votre restaurant" value="{{PlacesTags}}">
            <p class="help">Tapez en plusieurs, séparés par des virgules. Ex : Kebab, Pizzeria, Boulangerie ...</p>
          </div>
        </div>
        <div class="form-group" id="loyaltyCard">
          <label class="col-xs-3 control-label" >Carte de fidélité</label>
          <div class="col-xs-9">
            <label for="inputLoyaltyCard">
              <input type="checkbox" id="inputLoyaltyCard"  checked="{{#if loyaltyCard}}checked{{/if}}"> Active si cochée
            </label>
            <p>Tout les <input type="number" step="any" id="inputLcPrice" value="{{lcPrice}}" class="input-lc" > &euro; dépensés, 1 point est ajouté à la carte.<br>
              Tout les <input type="number" id="inputLcSize" value="{{lcSize}}" class="input-lc" > points un avoir de <input type="number" step="any" id="inputLcReward" value="{{lcReward}}" class="input-lc" > &euro; est offert au client.</p>
          </div>
        </div>
        <button type="submit" class="btn btn-success save">Enregistrer</button>
        <a href="{{pathFor 'owner'}}" class="btn">Annuler</a>
        <a href="" class="btn btn-danger pull-right delete">Supprimer</a>
        {{> placeWaiters}}
        {{> placeOwners}}
        {{#if town}}
        <p></p>
        {{> placeMap}}
        {{/if}}
      </form>
    </div>
  </div>
  {{> imageModal}}
</template>
