<template name="editQrCode">
  <div class="container">
    <div class="row">
      <form class="form-horizontal well">
        <legend>QR Code pour {{placename}}</legend>
        <div class="form-group" id="name">
          <label class="col-xs-3 control-label" for="inputCode">Code</label>
          <div class="col-xs-9">
            <input type="text" class="form-control" id="inputCode" placeholder="Nom de code de l'établissement" value="{{code}}">
            <p class="help">en minuscules et sans espaces (seulement des chiffres, lettres et tirrets)</p>
          </div>
        </div>
        <button type="submit" class="btn btn-success save">Enregistrer</button>
        <a href="{{pathFor 'owner'}}" class="btn btn-default">Annuler</a>
        <br>
        <br>
        <div class="text-center" id="qrcode"></div>
        {{#if code}}
        <p class="text-center lead"><a href="https://jecmd.fr/a/{{code}}">https://jecmd.fr/a/{{code}}</a></p>
        {{qrcode code}}
        <p class="text-center lead"><button name="qrlarge" class="btn btn-primary qrlarge">Afficher grand format</button></p>
        {{/if}}
      </form>
    </div>
  </div>
</template>
