<template name="createPlace">
  <div class="container">
    <div class="row">

      <form class="form-horizontal well">

        {{#if isNotLoggedIn}}
        <legend>Créez votre compte</legend>
        <div class="form-group" id="mail">
          <label class="col-xs-3 control-label" for="inputMail">Mail</label>
          <div class="col-xs-9">
            <input type="text" class="form-control" id="inputMail" placeholder="Adresse email de contact">
          </div>
        </div>
        <div class="form-group" id="password">
          <label class="col-xs-3 control-label" for="inputPassword">Mot de passe</label>
          <div class="col-xs-9">
            <input type="password" class="form-control" id="inputPassword" placeholder="sept caractères minimum">
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-3 control-label"></label>
          <div class="col-xs-9">
            <button  class="btn btn-success addUser">Valider <span class="glyphicon glyphicon-user"></span></button>
            <a href="{{pathFor 'resto'}}" class="btn">Annuler</a>
          </div>
        </div>
        {{/if}}

        <legend>Inscrivez votre établissement</legend>
        <div class="form-group" id="name">
          <label class="col-xs-3 control-label" for="inputName">Nom</label>
          <div class="col-xs-9">
            <input id="inputName" name="inputName" type="text" placeholder="Nom de votre établissement" class="form-control input-xs">
          </div>
        </div>
        <div class="form-group" id="phone">
          <label class="col-xs-3 control-label" for="inputPhone">Téléphone</label>
          <div class="col-xs-9">
            <input id="inputPhone" name="inputPhone" type="phone" placeholder="Numéro de téléphone de votre établissement" class="form-control input-xs">
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-3 control-label"></label>
          <div class="col-xs-9">
            <button  class="btn btn-success addPlace">Valider <span class="glyphicon glyphicon-cutlery"></span></button>
            <a href="{{pathFor 'resto'}}" class="btn">Annuler</a>
          </div>
        </div>

      </form>

    </div>
  </div>
</template>