<template name="setsPlace">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <a href="{{pathFor 'productsPlace'}}" class="btn btn-primary btn-lg btn-block"><span class="fa fa-arrow-left"></span> Produits</a>
      </div>
      <div class="col-xs-6">
        <a href="{{pathFor 'createSet'}}" class="btn btn-info btn-lg btn-block"><span class="fa fa-plus"></span> Formule</a>
      </div>

    </div>
    <div class="row">
      {{#each sets}}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="productbox">
            {{#if image}}
            <a href="/editset/{{place_id}}/{{_id}}"><img src="{{getImage image}}" alt="{{name}}" class="img-jecmd"></a>
            {{/if}}
            <div class="producttitle text-center">{{name}}</div>
            <p class="text-center">{{desc}}</p>
            <p class="text-center">{{arrayLength products}} produits</p>
            <a href="/editset/{{place_id}}/{{_id}}" class="btn btn-success btn-block" title="Éditer {{name}}">Éditer <span class="fa fa-pencil"></span></a>
            <div class="productprice">
              <div class="pull-right">
                {{formatPrice price}}
              </div>
              <div class="pricetext">
                {{{showTags setsTags}}}&nbsp;
              </div>
            </div>
          </div>
        </div>
      {{else}}
        <p class="lead text-center">Aucune formule, il est temps d'en ajouter :)</p>
      {{/each}}
    </div>
  </div>
</template>
