<template name="resto">
  <div class="container">
    <div class="row">
      <div class="well">
        <h1 class="text-center"><strong>JeCmd</strong> fait tout pour votre établissement.</h1>
        <h3 class="text-center">Simple, efficace, pratique...<br>
        <small>et gratuit pour l'instant</small></h3>
        <p><strong>JeCmd</strong> c'est :</p>
        <ul>
          <li>Votre caisse enregistreuse</li>
          <li>Votre site internet e-commerce</li>
          <li>Votre application smartphone et tablette</li>
        </ul>
        <p>Vous gérez simplement :</p>
        <ul>
          <li>La prise de commandes en magasin et par internet</li>
          <li>Vos produits, formules et leurs options</li>
          <li>Votre clientèle et vos promotions</li>
        </ul>
        <p>Vous n'êtes pas toujours connecté ?<br>
          Pas de problème, la caisse continue à fonctionner même sans connexion à internet.<br>
          Tout se synchronise automatiquement dès que c'est possible.</p>
        <p>Testez notre solution tout en un, elle est en cours de développement depuis Septembre 2014.<br>
          Nous vous proposerons une promotion lors de la mise en place des tarifs de <strong>JeCmd</strong>.</p>
        <p class="text-center">
          <a href="{{pathFor 'createPlace'}}" class="btn btn-lg btn-success">Ajoutez votre établissement</a><br>
          <small>c'est gratuit pour l'instant.</small>
        </p>
      </div>
    </div>
  </div>
</template>
