<template name="resto">
  <div class="container">
    <div class="row">
      <div class="well">
        <h1>Présentation aux gérants/responsables/propriétaire de commerces</h1>
        <h3>QRorders sait tout faire pour votre établissement !</h3>
        <p>QRorders c'est :</p>
        <ul>
          <li>Vos caisses enregistreuses</li>
          <li>Votre site internet ecommerce</li>
          <li>Votre app smartphones et tablettes (bientôt)</li>
        </ul>
        <p>Vous gérez simplement :</p>
        <ul>
          <li>La prise de commandes en magasin et par internet</li>
          <li>Vos produits, formules et leurs options</li>
          <li>Votre clientèle et vos promotions</li>
        </ul>
        <p>Vous n'êtes pas toujours connecté ? Pas de problème tout ça continu à fonctionner même sans connexion à internet. Tout se synchronise automatiquement quand c'est possible.</p>
        <p>Testez gratuitement notre solution tout en un, elle est en cours de développements depuis Septembre 2014. Nous vous proposerons une promotions lors de la mise en place des tarifs.</p>
        <a href="{{pathFor 'createPlace'}}" class="btn btn-success">Ajoutez votre établissement</a>
      </div>
    </div>
  </div>
</template>