<template name="formOrder">
  <div class="container">
    {{#if isNotLoggedIn}}
    <div class="row">
      <div class="col-xs-12">
        <a href="{{pathFor 'entrySignIn'}}" class="btn btn-success btn-block">Se connecter pour commander <span class="glyphicon glyphicon-shopping-cart"></span></a>
      </div>
    </div>
    <br>
    {{/if}}
    <div class="row">
      <div class="col-md-6">
        <form class="form-horizontal well">
          <legend><a href="#" class="placeModal" id="{{place._id}}">{{place.placename}}</a> <small class="pull-right">{{#if order.created}}{{formatDate order.created}}{{else}}{{currentDate}}{{/if}}</small></legend>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="col-xs-1 col-md-1">Type</th>
                  <th class="col-xs-4 col-md-5">Produit</th>
                  <th class="col-xs-2 col-md-2">Prix</th>
                  <th class="col-xs-4 col-md-3 hidden-xs">Quantité</th>
                  <th class="col-xs-1 col-md-1">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                {{#each sets}}
                <tr>
                  <td>{{{showTags SetsTags}}}</td>
                  <td><a href="#" class="setModal" id="{{_id}}">{{name}}</a></td>
                  <td>{{formatPrice price}}</td>
                  <td class="hidden-xs">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-sm decQty" type="button" id="{{_id}}"><span class="glyphicon glyphicon-minus"></span></button>
                      </span>
                      <input type="text" class="form-control input-sm text-center" name="quantity" id="qty-{{_id}}" value="1">
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-sm incQty" type="button" id="{{_id}}"><span class="glyphicon glyphicon-plus"></span></button>
                      </span>
                    </div>
                  </td>
                  <td>
                    {{#if isLoggedIn}}
                    {{#unless order.paid}}
                    <button class="btn btn-success btn-sm addSet" id="{{_id}}" name="{{name}}"><span class="glyphicon glyphicon-arrow-right"></span></button>
                    {{/unless}}
                    {{/if}}
                  </td>
                </tr>
                {{/each}}
                {{#each products}}
                <tr>
                  <td>{{{showTags ProductsTags}}}</td>
                  <td><a href="#" class="productModal" id="{{_id}}">{{name}}</a></td>
                  <td>{{formatPrice price}}</td>
                  <td class="hidden-xs">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-sm decQty" type="button" id="{{_id}}"><span class="glyphicon glyphicon-minus"></span></button>
                      </span>
                      <input type="text" class="form-control input-sm text-center" name="quantity" id="qty-{{_id}}" value="1">
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-sm incQty" type="button" id="{{_id}}"><span class="glyphicon glyphicon-plus"></span></button>
                      </span>
                    </div>
                  </td>
                  <td>
                    {{#if isLoggedIn}}
                    {{#unless order.paid}}
                    <button class="btn btn-success btn-sm addProduct" id="{{_id}}" name="{{name}}"><span class="glyphicon glyphicon-arrow-right"></span></button>
                    {{/unless}}
                    {{/if}}
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <form class="form-horizontal well">
          <legend>#{{#if order.number}}{{order.number}}{{else}}{{number}}{{/if}}{{#if order.name}} par {{order.name}}{{/if}}&nbsp;
            {{#if isActiveOrder}}
            <div class="btn-group text-center" data-toggle="buttons">
              <label class="btn btn-danger btn-sm {{isStatusActive 0}} changeStatus" for="status-0" value="0">
                <input type="radio" name="radiosStatus" id="status-0" value="0" {{isStatusChecked 0}}>
                <span class="glyphicon glyphicon-remove"></span>
              </label>
              <label class="btn btn-warning btn-sm {{isStatusActive 1}} changeStatus" for="status-1" value="1">
                <input type="radio" name="radiosStatus" id="status-1" value="1" {{isStatusChecked 1}}>
                <span class="glyphicon glyphicon-plus"></span>
              </label>
              <label class="btn btn-primary btn-sm {{isStatusActive 2}} changeStatus" for="status-2"  id="defaultStatusLabel" value="2">
                <input type="radio" name="radiosStatus" id="status-2" value="2" {{isStatusChecked 2}}>
                <span class="glyphicon glyphicon-ok"></span>
              </label>
              <label class="btn btn-info btn-sm {{isStatusActive 3}} changeStatus" for="status-3" value="3">
                <input type="radio" name="radiosStatus" id="status-3" value="3" {{isStatusChecked 3}}>
                <span class="glyphicon glyphicon-refresh"></span>
              </label>
              <label class="btn btn-success btn-sm {{isStatusActive 4}} changeStatus" for="status-4" value="4">
                <input type="radio" name="radiosStatus" id="status-4" value="4" {{isStatusChecked 4}}>
                <span class="glyphicon glyphicon-cutlery"></span>
              </label>
            </div>
            {{{textStatus order.status}}}{{#if order.paid}} Payée{{/if}}&nbsp;
            {{/if}}
            <span class="pull-right">{{formatPrice order.total}}</span>
          </legend>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Qtt</th>
                  <th>Produit</th>
                  <th>Opt</th>
                  <th>Prix</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {{#each lines}}
                <tr>
                  <td>{{quantity}}</td>
                  <td>{{productName}}{{setName}}</td>
                  <td>{{options}}</td>
                  <td>{{formatPrice price}}</td>
                  <td class="text-right">
                    {{#unless order.paid}}
                    <button class="btn btn-danger btn-sm deleteLine" id="{{_id}}" name="{{productName}}"><span class="glyphicon glyphicon-trash"></span></button>
                    {{/unless}}
                  </td>
                </tr>
                {{else}}
                <tr>
                  <td colspan="5">
                    <p class="lead text-center">Commande vide</p>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
    {{#if loyaltyCard}}
    <div class="row">
      <div class="col-xs-12">
        <p class="text-center">Tout les {{formatPrice lcPrice}} dépensés, 1 point est ajouté à votre carte fidélité. Tout les {{lcSize}} points un avoir de {{formatPrice lcReward}} vous est offert. <span class="glyphicon glyphicon-gift"></span></p>
      </div>
    </div>
    {{/if}}
    {{#if isNotWaiter}}
    <div class="row">
      <div class="col-xs-5 col-md-2">
        <div class="input-group clockpicker">
          <input type="text" class="form-control" value="{{theTime}}" id="timeWanted" name="timeWanted">
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
          </span>
      </div>
      </div>
      <div class="col-xs-7 col-md-10">
        <button class="btn btn-success btn-block customerValidation">Valider la commande</button>
      </div>
    </div>
    {{/if}}
  </div>
  {{> productModal}}
  {{> placeModal}}
</template>
