<template name="formOrder">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form class="form-horizontal form-qr">
          <legend>{{place.placename}} <small class="pull-right">{{#if order.created}}{{formatDate order.created}}{{else}}{{currentDate}}{{/if}}</small></legend>
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="col-xs-6">Produit</th>
                <th class="col-xs-2">Prix</th>
                <th class="col-xs-3">Quantité</th>
                <th class="col-xs-1">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {{#each products}}
              <tr>
                <td>{{name}}</td>
                <td>{{formatPrice price}}</td>
                <td>
                  <div class="input-group">
                    <span class="input-group-btn">
                      <button class="btn btn-default decQty" type="button" id="{{_id}}"><span class="glyphicon glyphicon-minus"></span></button>
                    </span>
                    <input type="text" class="form-control" name="quantity" id="qty-{{_id}}" value="1">
                    <span class="input-group-btn">
                      <button class="btn btn-default incQty" type="button" id="{{_id}}"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
                  </div>
                </td>
                <td>
                  <button class="btn btn-primary addProduct" id="{{_id}}" name="{{name}}"><span class="glyphicon glyphicon-arrow-right"></span></button>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </form>
      </div>
      <div class="col-md-6">
        <form class="form-horizontal form-qr">
          <legend>#{{#if order.number}}{{order.number}}{{else}}{{number}}{{/if}}&nbsp;
            {{#if isActiveOrder}}
            <div class="btn-group text-center" data-toggle="buttons">
              <label class="btn btn-danger btn-sm {{isStatusActive 0}} changeStatus" for="status-0" value="0">
                <input type="radio" name="radiosStatus" id="status-0" value="0" {{isStatusChecked 0}}>
                <span class="glyphicon glyphicon-remove"></span>
              </label>
              <label class="btn btn-warning btn-sm {{isStatusActive 1}} changeStatus" for="status-1" value="1">
                <input type="radio" name="radiosStatus" id="status-1" value="1" {{isStatusChecked 1}}>
                <span class="glyphicon glyphicon-question-sign"></span>
              </label>
              <label class="btn btn-primary btn-sm {{isStatusActive 2}} changeStatus" for="status-2"  id="defaultStatusLabel" value="2">
                <input type="radio" name="radiosStatus" id="status-2" value="2" {{isStatusChecked 2}}>
                <span class="glyphicon glyphicon-ok"></span>
              </label>
              <label class="btn btn-info btn-sm {{isStatusActive 3}} changeStatus" for="status-3" value="3">
                <input type="radio" name="radiosStatus" id="status-3" value="3" {{isStatusChecked 3}}>
                <span class="glyphicon glyphicon-refresh"></span>
              </label>
              <label class="btn btn-success btn-sm {{isStatusActive 4}} changeStatus" for="status-4" value="4">
                <input type="radio" name="radiosStatus" id="status-4" value="4" {{isStatusChecked 4}}>
                <span class="glyphicon glyphicon-cutlery"></span>
              </label>
            </div>
            <small>{{textStatus order.status}}</small>
            {{/if}}
            <small class="pull-right">{{formatPrice order.total}}</small>
          </legend>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Quantité</th>
                <th>Produit</th>
                <th>Prix</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each lines}}
              <tr>
                <td>{{quantity}}</td>
                <td>{{productName}}</td>
                <td>{{formatPrice price}}</td>
                <td class="text-right">
                  <button class="btn btn-danger deleteLine" id="{{_id}}" name="{{productName}}"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</template>