<template name="formOrder">
  <div class="container">
    {{#if isNotLoggedIn}}
    <div class="row">
      <div class="col-xs-12">
        <a href="{{pathFor 'entrySignIn'}}" class="btn btn-success btn-lg btn-block btn-raised">Se connecter pour commander <span class="fa fa-shopping-cart"></span></a>
      </div>
    </div>
    {{/if}}
    <div class="row">

      <div class="col-md-6">
        <form class="form-horizontal well well-sm">
          <fieldset>
            <legend>#{{#if order.number}}{{order.number}}{{else}}{{number}}{{/if}}{{#if order.togo}} A emporter{{/if}}{{#if order.name}} par {{order.name}}{{/if}}&nbsp;
              {{#if isActiveOrder}}
              <div class="btn-group text-center" data-toggle="buttons">
                <label class="btn btn-danger btn-sm {{isStatusActive 0}} changeStatus" for="status-0" value="0">
                  <input type="radio" name="radiosStatus" id="status-0" value="0" {{isStatusChecked 0}}>
                  <span class="fa fa-remove fa-lg"></span>
                </label>
                <label class="btn btn-warning btn-sm {{isStatusActive 1}} changeStatus" for="status-1" value="1">
                  <input type="radio" name="radiosStatus" id="status-1" value="1" {{isStatusChecked 1}}>
                  <span class="fa fa-plus fa-lg"></span>
                </label>
                <label class="btn btn-primary btn-sm {{isStatusActive 2}} changeStatus" for="status-2"  id="defaultStatusLabel" value="2">
                  <input type="radio" name="radiosStatus" id="status-2" value="2" {{isStatusChecked 2}}>
                  <span class="fa fa-check fa-lg"></span>
                </label>
                <label class="btn btn-info btn-sm {{isStatusActive 3}} changeStatus" for="status-3" value="3">
                  <input type="radio" name="radiosStatus" id="status-3" value="3" {{isStatusChecked 3}}>
                  <span class="fa fa-refresh fa-lg"></span>
                </label>
                <label class="btn btn-success btn-sm {{isStatusActive 4}} changeStatus" for="status-4" value="4">
                  <input type="radio" name="radiosStatus" id="status-4" value="4" {{isStatusChecked 4}}>
                  <span class="fa fa-cutlery fa-lg"></span>
                </label>
              </div>
              {{{textStatus order.status}}}{{#if order.paid}} Payée{{/if}}&nbsp;
              {{/if}}
              <strong class="pull-right">{{formatPrice order.total}}</strong>
            </legend>
            <!-- <div class="table-responsive"> -->
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>Qtt</th>
                    <th>Produit</th>
                    <th>Opt</th>
                    <th class="text-right">Prix</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {{#each lines}}
                  <tr>
                    <td>{{quantity}}</td>
                    <td>{{productName}}{{setName}}</td>
                    <td>{{options}}</td>
                    <td class="text-right">{{formatPrice price}}</td>
                    <td class="text-right">
                      {{#unless order.paid}}
                      <button class="btn btn-danger btn-sm deleteLine" id="{{_id}}" name="{{productName}}"><span class="fa fa-trash fa-2x"></span></button>
                      {{/unless}}
                    </td>
                  </tr>
                  {{else}}
                  <tr>
                    <td colspan="5">
                      <p class="text-center">Commande vide</p>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            <!-- </div> -->
            {{#if inCreation}}
            <div class="form-group">
              <label class="col-xs-5 col-md-3 control-label" for="togos">Où ?</label>
              <div class="col-xs-7 col-md-9">
                <div class="radio radio-success withoutelement">
                  <label for="togos-0">
                    <input type="radio" name="togos" id="togos-0" value="true" checked="checked" class="withoutelement">
                    <span class="circle"></span>
                    <span class="check"></span>
                    A emporter
                  </label>
                </div>
                <div class="radio radio-success withoutelement">
                  <label for="togos-1">
                    <input type="radio" name="togos" id="togos-1" value="false" class="withoutelement">
                    <span class="circle"></span>
                    <span class="check"></span>
                    Sur place
                  </label>
                </div>
              </div>
            </div>
            {{/if}}
            {{#if isNotWaiter}}
            <div class="col-xs-5 col-md-3">
              <div class="input-group clockpicker">
                <input type="text" class="form-control" value="{{theTime}}" id="timeWanted" name="timeWanted">
                <span class="input-group-addon">
                  <span class="fa fa-clock-o"></span>
                </span>
              </div>
            </div>
            <div class="col-xs-7 col-md-9">
              <button class="btn btn-success btn-block customerValidation btn-raised">Valider la commande</button>
            </div>
            {{/if}}
            {{#if isWaiter}}
            <div class="col-xs-5 col-md-3">
              <div class="input-group clockpicker">
                <input type="text" class="form-control" value="{{theTime}}" id="timeWanted" name="timeWanted">
                <span class="input-group-addon">
                  <span class="fa fa-clock-o"></span>
                </span>
              </div>
            </div>
            <div class="col-xs-7 col-md-9">
              <button class="btn btn-success btn-block waiterValidation btn-raised">Valider la commande</button>
            </div>
            {{/if}}
          </fieldset>
        </form>
      </div>

      <div class="col-md-6">
        <form class="form-horizontal well well-sm">
          <legend><a href="#" class="placeModal" id="{{place._id}}">{{place.placename}}</a> <small class="pull-right">{{#if order.created}}{{formatDate order.created}}{{else}}{{currentDate}}{{/if}}</small></legend>
          <!-- <div class="table-responsive"> -->
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Produit</th>
                  <th class="text-right">Prix</th>
                  <th class="hidden-xs text-center">Quantité</th>
                  <th class="text-right">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                {{#each sets}}
                <tr>
                  <td>{{{showTags SetsTags}}}</td>
                  <td><a href="#" class="setModal" id="{{_id}}">{{name}}</a></td>
                  <td class="text-right">{{formatPrice price}}</td>
                  <td class="hidden-xs text-center">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <button class="btn btn-link btn-sm decQty" type="button" id="{{_id}}"><span class="fa fa-minus-circle"></span></button>
                      </span>
                      <input type="number" class="form-control input-sm text-center" name="quantity" id="qty-{{_id}}" value="1">
                      <span class="input-group-btn">
                        <button class="btn btn-link btn-sm incQty" type="button" id="{{_id}}"><span class="fa fa-plus-circle"></span></button>
                      </span>
                    </div>
                  </td>
                  <td>
                    {{#if isLoggedIn}}
                    {{#unless order.paid}}
                    <button class="btn btn-success btn-sm addSet withoutripple btn-raised" id="{{_id}}" name="{{name}}"><span class="fa fa-plus fa-2x"></span></button>
                    {{/unless}}
                    {{/if}}
                  </td>
                </tr>
                {{/each}}
                {{#each products}}
                <tr>
                  <td>{{{showTags ProductsTags}}}</td>
                  <td><a href="#" class="productModal" id="{{_id}}">{{name}}</a></td>
                  <td class="text-right">{{formatPrice price}}</td>
                  <td class="hidden-xs text-center">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <button class="btn btn-link btn-sm decQty" type="button" id="{{_id}}"><span class="fa fa-minus-circle"></span></button>
                      </span>
                      <input type="number" class="form-control input-sm text-center" name="quantity" id="qty-{{_id}}" value="1">
                      <span class="input-group-btn">
                        <button class="btn btn-link btn-sm incQty" type="button" id="{{_id}}"><span class="fa fa-plus-circle"></span></button>
                      </span>
                    </div>
                  </td>
                  <td>
                    {{#if isLoggedIn}}
                    {{#unless order.paid}}
                    <button class="btn btn-success btn-sm addProduct withoutripple btn-raised" id="{{_id}}" name="{{name}}"><span class="fa fa-plus fa-2x"></span></button>
                    {{/unless}}
                    {{/if}}
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          <!-- </div> -->
        </form>
      </div>

    </div>
    {{#if loyaltyCard}}
    <div class="row">
      <div class="col-xs-12">
        <p class="text-center">Tout les {{formatPrice lcPrice}} dépensés, 1 point est ajouté à votre carte fidélité. Tout les {{lcSize}} points un avoir de {{formatPrice lcReward}} vous est offert. <span class="fa fa-gift"></span></p>
      </div>
    </div>
    {{/if}}


    {{#if place.days}}
      {{> openHours}}
    {{/if}}
    {{#if place.town}}
    {{> placeMap}}
    {{/if}}
  </div>
  {{> productModal}}
  {{> placeModal}}
</template>
