<template name="formProduct">

  <div class="form-group" id="name">
    <label class="col-xs-3 control-label" for="inputName">Nom</label>
    <div class="col-xs-9">
      <input type="text" class="form-control" id="inputName" placeholder="Nom du produit" value="{{name}}">
    </div>
  </div>

  <div class="form-group" id="price">
    <label class="col-xs-3 control-label" for="inputPrice">Prix</label>
    <div class="col-xs-9">
      <input type="number" step="any" class="form-control" id="inputPrice" placeholder="Prix du produit" value="{{price}}">
    </div>
  </div>

  <div class="form-group" id="desc">
    <label class="col-xs-3 control-label" for="inputDesc">Desc.</label>
    <div class="col-xs-9">
      <textarea class="form-control" rows="3" id="inputDesc" placeholder="Description du produit">{{desc}}</textarea>
    </div>
  </div>

  <div class="form-group" id="tags">
    <label class="col-xs-3 control-label" for="inputTags">Types</label>
    <div class="col-xs-9">
      <input type="text"  id="inputTags" placeholder="Types du produit" value="{{ProductsTags}}">
      <p class="help">Tapez en plusieurs, séparés par des virgules</p>
    </div>
  </div>

  {{#if options}}
  <div class="form-group">
    <label class="col-xs-3 control-label" for="inputOptions">Option(s)</label>
    <div class="col-xs-9">
      {{#each options}}
      <div class="checkbox">
        <label for="{{_id}}">
          <input type="checkbox" name="inputOptions" id="{{_id}}" value="{{_id}}" class="inputOptions" checked="{{isCheckedOption _id}}">
          <strong>{{title}}</strong> {{arrayToString choices}}
        </label>
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}

</template>
